<template>
  <div>
    <Textarea v-model="markdown" ref="textareaRef" rows="6" cols="43" />
    <div>
      <button @click="insertText('**')">
        <svg width="10px" height="10px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Edit / Bold">
            <path id="Vector" d="M8 12H12.5M8 12V5H12.5C14.433 5 16 6.567 16 8.5C16 10.433 14.433 12 12.5 12M8 12V19H13.5C15.433 19 17 17.433 17 15.5C17 13.567 15.433 12 13.5 12H12.5" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
        </svg>
      </button>
      <button @click="insertText('*')">
        <svg fill="#fff" height="10px" width="10px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 0 306.001 306.001" xml:space="preserve">
        <path d="M249.142,0H120.713c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h54.958l-58.527,276H56.859c-4.142,0-7.5,3.358-7.5,7.5
          s3.358,7.5,7.5,7.5h66.339c0.009,0,0.019,0.001,0.028,0.001c0.006,0,0.011-0.001,0.017-0.001h62.044c4.142,0,7.5-3.358,7.5-7.5
          s-3.358-7.5-7.5-7.5h-52.811l58.527-276h58.138c4.142,0,7.5-3.358,7.5-7.5S253.284,0,249.142,0z"/>
        </svg>
      </button>
      <button @click="insertText('`')">Code</button>
      <button @click="insertText('```')">Code Block</button>
      <button @click="insertText('- ')">Bullet List</button>
      <button @click="insertText('1. ')">Ordered List</button>
      <button @click="insertText('> ')">Blockquote</button>
      <button @click="insertText('[Link Text]()')">Link</button>
      <button @click="insertText('![Alt Text]()')">Image</button>
    </div>
    <div v-html="markdownToHtml"></div>
  </div>
</template>

<script>
import { marked } from 'marked';
import hljs from 'highlight.js';
import 'highlight.js/styles/night-owl.min.css';
import Textarea from 'primevue/textarea';

export default {
  components: {
    Textarea
  },
  data() {
    return {
      markdown: '# Hello, CodeDhyan!\n' +
          '```javascript\n' +
          'console.log("Hello, World!");\n' +
          '```'
    };
  },
  computed: {
    markdownToHtml() {
      return marked(this.markdown);
    }
  },
  watch: {
    markdown() {
      // Wait for the next tick to ensure the updated HTML has been rendered
      this.$nextTick(() => {
        // Get all code blocks in the updated HTML
        const codeBlocks = document.querySelectorAll('pre code');

        // Highlight each code block
        codeBlocks.forEach((block) => {
          hljs.highlightBlock(block);
        });
      });
    }
  },
  mounted() {
    // Highlight the initial code blocks
    marked.setOptions({
      tables: true,
      highlight: function(code, lang) {
        const language = hljs.getLanguage(lang) ? lang : 'plaintext';
        return hljs.highlight(code, { language }).value;
      }
    });
    this.$nextTick(() => {
      const codeBlocks = document.querySelectorAll('pre code');
      codeBlocks.forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  },
  methods: {
    insertText(text) {
      const caretPosition = this.$refs.textareaRef.$el.selectionStart;
      const textBeforeCaret = this.markdown.slice(0, caretPosition);
      const textAfterCaret = this.markdown.slice(caretPosition);
      this.markdown = textBeforeCaret + text + textAfterCaret;
      this.$nextTick(() => {
        this.$refs.textareaRef.$el.selectionStart = caretPosition + text.length;
        this.$refs.textareaRef.$el.selectionEnd = caretPosition + text.length;
      });
    }
  }
};
</script>

<style scoped>
h1 {
  color: gray;
}
</style>
